@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply text-gray-900 dark:text-white;
  }
}

@layer utilities {
  @keyframes modal-in {
    from {
      opacity: 0;
      transform: translateY(-20px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-modal-in {
    animation: modal-in 0.2s ease-out;
  }
}
